<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your hip-waist category is:
    <strong id="hipWaist-category"><%=category%></strong>
</div>


<% include ../partials/footer %>