<% include ../partials/header %>

<form method="GET" class="form-horizontal" action="/hipWaistResult">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter your details!</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="hip" class="col-sm-2 control-label">
                    You hip
                </label>
                <div class="col-sm-10">
                    <input name="hip" type="number" class="form-control" id="hip" step="0.1"/>
                </div>
            </div>
            <div class="form-group">
                <label for="waist" class="col-sm-2 control-label">
                    You waist
                </label>
                <div class="col-sm-10">
                    <input name="waist" type="number" class="form-control" id="waist" step="0.1"/>
                </div>
            </div>
            <div class="form-group">
                <label for="male" class="col-sm-2 control-label">
                    Are you a male:
                </label>
                <div class="col-sm-10">
                    <input name="male" type="radio" class="form-control" id="male" />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-primary" value="Send!" id="submit"/>
        </div>
    </div>
</form>

<% include ../partials/footer %>