<% include ../partials/header %>

<div class="jumbotron">
    <h1>BMI - Calculator</h1>
    <p>With this tool you can easily determine your BMI.</p>
</div>

<form method="GET" class="form-horizontal" action="/result">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter your details!</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    You Height (cm)
                </label>
                <div class="col-sm-10">
                    <input name="cm" type="number" class="form-control" id="cm" />
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    You Weight (kg)
                </label>
                <div class="col-sm-10">
                    <input name="kg" type="number" class="form-control" id="kg" />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-primary" value="Send!" id="submit"/>
        </div>
    </div>
</form>

<% include ../partials/footer %>