<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index is: 
    <strong id="bmi"><%= Math.round(bmi * 100) / 100 %></strong>
    <strong id="bmi-category"><%=category%></strong>
</div>


<% include ../partials/footer %>